/* Button */
Button {
    background-color: var(--SystemDarkModeThemeColor);
    border-radius: 10px;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Switch Button */
.switch-button{
	width: 36px;
	height: 20px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.hidden-checkbox,
.switch-area,
.switch-toggle{
	position: absolute;
	top: 0;
	left: 0;
}
.hidden-checkbox{
	width: 36px;
	height: 20px;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}
.switch-area{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	background-color: #B3B3B3;
}

.switch-area:hover{
	background-color: #dddddd;
}

.switch-toggle{
	width: 16px;
	height: 16px;
	border: 1px solid #B3B3B3;
	border-radius: 50%;
	background-color: #fff;
    top: 1px;
	left: 1px;
}
.hidden-checkbox:checked ~ .switch-area{
	background-color: var(--SystemThemeColor);
}
.hidden-checkbox:checked ~ .switch-toggle{
	border: 1px solid var(--SystemThemeColor);
	left: 17px;
}
.switch-area,
.switch-toggle{
	-webkit-transition: All 0.3s ease; 
	   -moz-transition: All 0.3s ease; 
	     -o-transition: All 0.3s ease;
	        transition: All 0.3s ease; 
}